body {
  /* font: Lato, sans-serif; */
  /* font: 400 15px/1.8 Lato, sans-serif; */
  /* color: #777; */
}
footer {
  background-color: #2d2d30;
  color: #f5f5f5;
  padding: 32px;
}
img {
  max-width: 100%;
}
section {
  scroll-margin-top: 57px;
}

.our-nav {

}

.our-spacer {
  width: 20px;
}

.header-section {
  background: #56ccf2; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to bottom,
    #2f80ed,
    #56ccf2
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to bottom,
    #2f80ed,
    #56ccf2
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.team-member {
  /* border-radius: 50px 50px 4.8px 4.8px; */
}
