body {
  /* font: Lato, sans-serif; */
  /* font: 400 15px/1.8 Lato, sans-serif; */
  /* color: #777; */
}
footer {
  background-color: #2d2d30;
  color: #f5f5f5;
  padding: 32px;
}

.headshot {
	/* max-width: 100%; */
}
/* .container {
  padding: 80px 120px;
} */
